---
import "../styles/global.css";
import { publicUrl } from "../utils/publicUrl";

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
const canonical = Astro.site
	? new URL(Astro.url.pathname, Astro.site).href
	: Astro.url.href;
---

<!doctype html>
<html lang="en" class="bg-page">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonical} />
		<link rel="icon" type="image/svg+xml" href={publicUrl("/favicon.svg")} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<slot />
	</body>
</html>
